@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 10px;
}

input {
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

header .container {
  padding-top: 10px;
}
header .container .mobile .app__advertisement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .mobile .app__advertisement .add__left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .mobile .app__advertisement .add__left__content p {
  font-size: 12px;
}
header .container .mobile .app__advertisement .add__left__content p span {
  font-size: 10px;
}
header .container .mobile .app__advertisement .dowload__btn {
  padding: 0 12px;
  background-color: #9747ff;
  color: #fff;
  font-size: 14px;
}

@media only screen and (min-width: 960px) {
  header .container .mobile {
    display: none;
  }
}