*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    border-radius: 10px;
}
input{
    outline: none;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}

