// variables.scss
$black: #000000;
$blue-primary: #0c8ce9;
$blue-light: #7cc4f8;
$purple: #9747ff;
$dark-gray: #121212;
$green: #198f51;
$yellow: #ffcd29;
$white: #ffffff;
$pink: #ff24bd;
$gray-dark: #1e1e1e;
$gray-darker: #2c2c2c;
$gray-mid: #383838;
$gray-light: #444444;
